{{define "content"}}
    <h2>Ice Hockey Scoresheet - Data & Privacy Policy</h2>
    <div class="maintext">
        The scoresheet web application stores the information that you enter into it, and by entering that
        data you implicitly consent to us doing so. In addition, we derive additional information from some 
        of the information you provide, and present that additional information back to you.
    </div>
    <div class="maintext">
        We hold your data purely so that you can use it. We do not use it for any other purpose. 
    </div>
    <div class="maintext">
        All the data you provide is linked to a unique code, and can only be accessed by providing that code. 
        Note, however, that there are no other controls in place: anyone with the code can access the data. 
        If you share the codes for accessing your information with others then we can apply no restrictions 
        on what they can do with it.
    </div>
    <div class="maintext">
        The data is stored in the europe-west2 (London) Google Cloud Platform data center.
    </div>
    <div class="maintext">
        Our systems administrators have direct access to the database, and can access all information regardless
        of whether the game or list codes have been explicitly shared with them. They are also able to modify 
        the data should this be necessary, even if it is locked on the website.
    </div>
{{end}}