{{define "content"}}
		<div class="message">
			<h1>Delete event for game {{.Game.ID}}</h1>
		</div>

		<div>{{.Game.AwayTeam}} @ {{.Game.HomeTeam}}, {{.Game.GameDate}}</div>

		<div>
			&nbsp;<br>
			Which event do you wish to delete from this game?
			<br>&nbsp;			
		</div>
				
		<form method="POST" action="/deleteGameEvent">
			<input type="hidden" id="gameIdField" name="game_id" value="{{.Game.ID}}" />
			
			{{range $event := .Game.Events}} 
				<div>
					<input type="radio" name="event_summary" value="{{$event.GameTime}} {{$event.HomeAway}} {{$event.EventType}}">
					{{$event.GameTime}} {{$event.HomeAway}} {{$event.EventType}}
				</option>
				</div>
			{{end}}			

			<br>
			<div class="formlabel">&nbsp;</div>
			<input type="submit" value="Delete event">
		</form>

{{end}}