<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Scoresheet</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="preload" as="font">
<link rel="stylesheet" href="/static/scoresheet.css">
</head>

<body>
	<div class="container">
		<h1>Something went wrong</h1>
		<div class="message">
			{{.Message}}
		</div>

		<div class="error">
			{{.Error}}
		</div>

		<div class="footer">
			<hr>
			<div class="controlbar">
				<a href="/">Home</a>
			</div>
		</div>
	</div>
</body>
</html>
