<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Scoresheet</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="preload" as="font">
<link
  href="/static/kubernetes-engine-icon.png"
  rel="icon" 
  type="image/png" 
/>
<link rel="stylesheet" href="/static/scoresheet.css">
</head>

<body>
	<div class="container">
		<div class="hero">
			<!-- <div style="text-align:center;">
				<picture>
					<source srcset="/static/KE-hello-world-dark.svg" media="(prefers-color-scheme: dark)">
					<img src="/static/KE-hello-world.svg" alt="A group celebrating" width="427" height="231">
				</picture>
			</div> -->

			<div class="message">
				<h1>Firestore Test</h1>
				<div>
					Database: <span>{{.Connect}}</span>
				</div>
				<div>
					Error: <span>{{.Err}}</span>
				</div>
				<div>
					Collections: <span>{{.Collections}}</span>
				</div>
			</div>
			
		</div>

	</div>
</body>
</html>
