{{define "content"}}
		<div>
			<div>
				<div class="error" id="error_message">{{.Error}}</div>
				<h3>Game record</h3>
				{{range $event := .Game.Events}} 
				<div class="row eventrow">
					<div class="col-3">
						<span class="event_clock_time">P{{$event.Period}}&nbsp;{{$event.ClockTime}}</span><br>
						{{$event.GameTime}}
					</div>
					<div class="col-9">
						{{$event.HomeAway}} {{$event.EventType}} 							
						{{if $event.Category}}
							({{$event.Category}})
						{{end}}
						by #{{$event.Player}}<br>
						{{if $event.Assist1}}
							Assisted by 
							#{{$event.Assist1}}
						{{end}}
						{{if $event.Assist2}}
							and #{{$event.Assist2}}				
						{{end}}
						{{if $event.Minutes}}
							{{$event.Minutes}} minutes
						{{else}}
							<td>&nbsp;</td>
						{{end}}
					</div>
				</div>
				{{end}}

				<!-- <table id="game_events" class="table">
					<thead>
						<tr>
							<th>Period</th>
							<th>Clock</th>
							<th>Event</th>
							<th>Player</th>
							<th>Assists</th>
							<th>Minutes</th>
						</tr>
					</thead>
					<tbody>
					{{range $event := .Game.Events}} 
						<tr>
							<td>{{$event.Period}}&nbsp;</td>
							<td>{{$event.ClockTime}} ({{$event.GameTime}})</td>
							<td>{{$event.HomeAway}} {{$event.EventType}}
								{{if $event.Category}}
									({{$event.Category}})
								{{end}}
							</td> 				
							<td>{{$event.Player}}</td>
							<td>
							{{if $event.Assist1}}
							{{$event.Assist1}}
							{{else}}
								&nbsp;
							{{end}}

							{{if $event.Assist2}}
								{{$event.Assist2}}				
							{{end}}
							</td>
							{{if $event.Minutes}}
								<td>{{$event.Minutes}}</td>
							{{else}}
								<td>&nbsp;</td>
							{{end}}
						</tr>
					{{end}}
					</tbody>
				</table> -->
				<div class="controlbar" id="control_bar">
					{{if .Game.LockedWith}}
					<a href="/unlockGame?game={{.Game.ID}}">
						Unlock Game
					</a>
					{{else}}
					<div class="leftlink">
						<a href="/deleteEvent?game={{.Game.ID}}">
							Delete Event
						</a>
						&nbsp;&nbsp;|&nbsp;&nbsp;
						<a href="/lockGame?game={{.Game.ID}}">
							Lock Game
						</a>
					</div>
					<div class="endbutton">
						<a href="/newEvent?game={{.Game.ID}}&type=HG">
							<button id="btn_home_goal">Home Goal</button>
						</a>
						<a href="/newEvent?game={{.Game.ID}}&type=HP">
							<button id="btn_home_penalty">Home Penalty</button>
						</a>
						<a href="/newEvent?game={{.Game.ID}}&type=AG">
							<button id="btn_away_goal">Away Goal</button>
						</a>
						<a href="/newEvent?game={{.Game.ID}}&type=AP">
							<button id="btn_away_penalty">Away Penalty</button>
						</a>
					</div>
					{{end}}
				</div>
				<h3>Game summary</h3>
				<div class="row">
					<div class="col-sm-12 col-md-8 col-lg-6">
						<h4>Period summary</h4>
						<table id="period_summary" class="table">
							<tr>
								<th>&nbsp;</th>
								{{range $values := .Summary.Periods}}
									<th>{{$values.Title}}</th>
								{{end}}
							</tr>
							<tr>
								<td>Home Goals</td>
								{{range $values := .Summary.Periods}}
									<td>{{$values.HomeGoals}}</td>
								{{end}}
							</tr>
							<tr>
								<td>Away Goals</td>
								{{range $values := .Summary.Periods}}
									<td>{{$values.AwayGoals}}</td>
								{{end}}
							</tr>
							<tr>
								<td>Home Penalties</td>
								{{range $values := .Summary.Periods}}
									<td>{{$values.HomePenalties}}</td>
								{{end}}
							</tr>
							<tr>
								<td>Away Penalties</td>
								{{range $values := .Summary.Periods}}
									<td>{{$values.AwayPenalties}}</td>
								{{end}}
							</tr>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-lg-6">
						<h4>Home Scoring</h4>
						<table id="home_scoring" class="table">					
							<tr>
								<th>Player</th>
								<th>Goals</th>
								<th>Assists</th>
								<th>Minutes</th>
							</tr>
							{{range $player, $values := .Summary.HomePlayers}} 
								<tr>
									<td>{{$player}}</td>
									<td>{{$values.Goals}}</td>
									<td>{{$values.Assists}}</td>
									<td>{{$values.Minutes}}</td>
								</tr>
							{{end}}
						</table>
					</div>
					<div class="col-sm-12 col-lg-6">
						<h4>Away Scoring</h4>
						<table id="away_scoring" class="table">
							<tr>
								<th>Player</th>
								<th>Goals</th>
								<th>Assists</th>
								<th>Minutes</th>
							</tr>
							{{range $player, $values := .Summary.AwayPlayers}} 
								<tr>
									<td>{{$player}}</td>
									<td>{{$values.Goals}}</td>
									<td>{{$values.Assists}}</td>
									<td>{{$values.Minutes}}</td>
								</tr>
							{{end}}
						</table>
					</div>
				</div>
			</div>
			<div class="footer">
				<div class="controlbar">
					<div>
						<a href="/">Home</a> | <a href="/sharegame?game={{.Game.ID}}">Share</a>
					</div>
				</div>		
			</div>
			<div>&nbsp;</div>
		</div>
{{end}}
