{{define "content"}}
		<div>
			<div>
				<h1>{{.Game.AwayTeam}} @ {{.Game.HomeTeam}}</h1>
				<div class="gamedate">{{.Game.GameDate}}</div>

				<div class="error" id="error_message">{{.Error}}</div>
				
				<div class="row">
					<div class="col">
						<h3>Game record</h3>
					</div>
				</div>
				{{range $event := .Game.Events}} 
				<div class="row eventrow">				
					<div class="col-3">
						<span class="event_clock_time">P{{$event.Period}}&nbsp;{{$event.ClockTime}}</span><br>
						{{$event.GameTime}}
					</div>
					<div class="col-9">
						{{$event.HomeAway}} {{$event.EventType}} 							
						{{if $event.Category}}
							({{$event.Category}})
						{{end}}
						by #{{$event.Player}}<br>
						{{if $event.Assist1}}
							Assisted by 
							#{{$event.Assist1}}
						{{end}}
						{{if $event.Assist2}}
							and #{{$event.Assist2}}				
						{{end}}
						{{if $event.Minutes}}
							{{$event.Minutes}} minutes
						{{else}}
							&nbsp;
						{{end}}
						<span class="hidden">{{$event.ID}}</span>							
					</div>
				</div>
				{{end}}
				<div class="controlbar" id="even_control_bar">
					<div>&nbsp;</div>
					{{if .Game.LockedWith}}
						&nbsp;
					{{else}}
					<div class="endbutton">
						<a href="/newEvent?game={{.Game.ID}}&type=AP">
							<button id="btn_away_penalty">Away Penalty</button>
						</a>
						<a href="/newEvent?game={{.Game.ID}}&type=AG">
							<button id="btn_away_goal">Away Goal</button>
						</a>
						<a href="/newEvent?game={{.Game.ID}}&type=HP">
							<button id="btn_home_penalty">Home Penalty</button>
						</a>
						<a href="/newEvent?game={{.Game.ID}}&type=HG">
							<button id="btn_home_goal">Home Goal</button>
						</a>
					</div>
					{{end}}
				</div>

				<div class="row">
					<div class="col">
						<h3>Game summary</h3>
					</div>
				</div>
				
				<div class="row">
					<div class="col-5">
						<h4>Period summary</h4>
					</div>
					<div class="col-12">
						
						<table id="period_summary" class="summary-table">
							<tr>
								<th class="hidden">&nbsp;</th>
								{{range $values := .Summary.Periods}}
									<th>{{$values.Title}}</th>
								{{end}}
							</tr>
							<tr>
								<th>Home Goals</th>
								{{range $values := .Summary.Periods}}
									<td>{{$values.HomeGoals}}</td>
								{{end}}
							</tr>
							<tr>
								<th>Away Goals</th>
								{{range $values := .Summary.Periods}}
									<td>{{$values.AwayGoals}}</td>
								{{end}}
							</tr>
							<tr>
								<th>Home Penalties</th>
								{{range $values := .Summary.Periods}}
									<td>{{$values.HomePenalties}}</td>
								{{end}}
							</tr>
							<tr>
								<th>Away Penalties</th>
								{{range $values := .Summary.Periods}}
									<td>{{$values.AwayPenalties}}</td>
								{{end}}
							</tr>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-lg-6">
						<h4>Home Scoring</h4>						
						<table id="home_scoring" class="summary-table">					
							<tr>
								<th>Player</th>
								<th>Goals</th>
								<th>Assists</th>
								<th>Minutes</th>
							</tr>
							{{range $player, $values := .Summary.HomePlayers}} 
								<tr>
									<td>{{$player}}</td>
									<td>{{$values.Goals}}</td>
									<td>{{$values.Assists}}</td>
									<td>{{$values.Minutes}}</td>
								</tr>
							{{end}}
						</table>
					</div>
					<div class="col-sm-12 col-lg-6">
						<h4>Away Scoring</h4>
						<table id="away_scoring" class="summary-table">
							<tr>
								<th>Player</th>
								<th>Goals</th>
								<th>Assists</th>
								<th>Minutes</th>
							</tr>
							{{range $player, $values := .Summary.AwayPlayers}} 
								<tr>
									<td>{{$player}}</td>
									<td>{{$values.Goals}}</td>
									<td>{{$values.Assists}}</td>
									<td>{{$values.Minutes}}</td>
								</tr>
							{{end}}
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-lg-6">
						<h4>Home Team Roster</h4>
						<table id="home_roster" class="summary-table">
							<tr>
								<th>Number</th>
								<th class="textvalue">Player Name</th>
							</tr>
						{{range $player, $name := .Game.HomePlayers}} 
							<tr>
								<td>
									{{$player}}
								</td>
								<td class="textvalue">
									{{$name}}
								</td>
							</tr>
						{{end}}
						</table>
					</div>
					<div class="col-sm-12 col-lg-6">
						<h4>Away Team Roster</h4>
						<table id="away_roster" class="summary-table">
							<tr>
								<th>Number</th>
								<th class="textvalue">Player Name</th>
							</tr>
						{{range $player, $name := .Game.AwayPlayers}} 
							<tr>
								<td>
									{{$player}}
								</td>
								<td class="textvalue">
									{{$name}}
								</td>
							</tr>
						{{end}}
						</table>
					</div>
				</div>
			</div>
			<div class="controlbar" id="game_control_bar">
				<div>&nbsp;</div>
				<div class="endbutton">
					<a href="/share?type=game&code={{.Game.ID}}">
						<button id="btn_share">Share Game</button>
					</a>
					{{if .Game.LockedWith}}
					<a href="/unlockGame?game={{.Game.ID}}">
						<button id="btn_unlock">Unlock Game</button>
					</a>
					{{else}}
					<a href="/lockGame?game={{.Game.ID}}">
						<button id="btn_lock">Lock Game</button>
					</a>
					<a href="/deleteEvent?game={{.Game.ID}}">
						<button id="btn_delete">Delete event</button>
					</a>
					<a href="/delete?type=game&code={{.Game.ID}}">
						<button id="btn_delete_game">Delete game</button>
					</a>
					<a href="/addPlayer?game={{.Game.ID}}">
						<button id="btn_add_player">Add player</button>
					</a>
					{{end}}
				</div>
			</div>
			<div>&nbsp;</div>
		</div>
{{end}}
