{{define "content"}}
		<h1>{{.PageHeading}}</h1>

		<div class="error">
			{{.Error}}
		</div>

        <div class="row">
            <table id="home_roster" class="summary-table">
            {{range $game := .Detail.Games}} 
                <tr>
                    <td>
                        <a href="/game/{{$game.ID}}">{{$game.ID}}</a>
                    </td>
                    <td class="textvalue">
                        {{$game.Title}}
                    </td>
                </tr>
            {{end}}
            </table>
        </div>
        {{if not .Detail.List.LockedWith}}
        <div class="row">
            <div class="col-12 col-md-3">
                <form id="add_game" method="post" action="/addListGame">
                    <input type="hidden" id="_csrf" name="_csrf" value="{{.Csrf}}" />
                    <input type="hidden" id="list_id" name="list_id" value="{{.Detail.List.ID}}" />
                    <div class="row">
                        <label for="game_id" class="col-4 formlabel">Game ID:</label>
                        <div class="col-8">
                            <input type="text" id="game_id" name="game_id" size="12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 formlabel">&nbsp;</div>
                        <div class="col-8">
                            <input type="submit" value="Add game">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {{end}}
        <div class="controlbar" id="list_control_bar">
            <div>&nbsp;</div>
            <div class="endbutton">
                <a href="/share?type=list&code={{.Detail.List.ID}}">
                    <button id="btn_share">Share List</button>
                </a>
                {{if .Detail.List.LockedWith}}
                <a href="/lock?type=list&code={{.Detail.List.ID}}&action=Unlock">
                    <button id="btn_unlock">Unlock List</button>
                </a>                    
                {{else}}
                <a href="/lock?type=list&code={{.Detail.List.ID}}&action=Lock">
                    <button id="btn_lock">Lock List</button>
                </a>
                {{end}}
            </div>
        </div>
{{end}}