{{define "content"}}		

		<div class="row">			
			<div class="col-sm-12 col-md-8">
				<div class="row g-3">
					<div class="col-12 col-md-6">
						<div class="frontpanel">
							<h4>Record new game</h4>
							<div>Record game and calculate scoring totals.</div>
							<form id="newgame" action="/newGame">
								<input type="submit" value="New game">
							</form>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="frontpanel">
							<h4>View existing game</h4>
							<form id="viewgame" action="/games">
								<div class="row">
									<label for="game_id" class="col-4 formlabel">Game ID:</label>
									<div class="col-8">
										<input type="text" id="game_id" name="game_id" size="12">
									</div>
								</div>
								<div class="row">
									<div class="col-4 formlabel">&nbsp;</div>
									<div class="col-8">
										<input type="submit" value="View game">
									</div>
								</div>
							</form>
						</div>
		
					</div>
				</div>
				<div class="row">
					<div class="col">&nbsp;</div>
				</div>
				<div class="row g-3">
					<div class="col-12 col-md-6 ">
						<div class="frontpanel">
							<h4>Create new list</h4>
							<div>Build lists of games for easy access and sharing.</div>
							<form id="newlist" action="/newList">
								<input type="submit" value="New list">
							</form>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="frontpanel">
							<h4>View existing list</h4>
							<form id="viewlist" action="/lists">
								<div class="row">
									<label for="list_id" class="col-4 formlabel">List ID:</label>
									<div class="col-8">
										<input type="text" id="list_id" name="list_id" size="12">
									</div>
								</div>
								<div class="row">
									<div class="col-4 formlabel">&nbsp;</div>
									<div class="col-8">
										<input type="submit" value="View list">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">&nbsp;</div>
				</div>
				<div class="row g-3">
					<div class="col-12">
						<div class="frontpanel">
							{{if gt (len .History) 0}}
							<h4>History</h4>
							<div class="row">			
								<div class="col">
								<ul>
									{{range $item := .History}} 
									{{if $item}}
										<li>
											<a href="{{$item.UrlPath}}">{{$item.Summary}}</a> ({{$item.ItemType}})
										</li>
										{{end}}
									{{end}}
								</ul>
							</div>
							</div>
							{{end}}
						</div>
					</div>

				</div>		
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="row" id="intro">				
					<div class="col">
						<h3>About this site:</h3>
						<div class="maintext">
							The Ice Hockey Scoresheet web application is designed to help score keepers at UK recreational ice Hockey
        					games fill in the EIHA score sheets.
						</div>
						<div class="maintext">
							For more details, see the 
							<a href="/help">Help page</a>.
						</div>
					</div>
				</div>
			</div>
		</div>

{{end}}