{{define "content"}}
		<div class="message">
			<h1>Lock Game {{.Game.ID}}</h1>
		</div>
		
		<div>
			Locking a game prevents people from editing it.
		</div>
		<div>			
			You need to supply a key phrase that can be used to unlock the game later.
			<br>
			&nbsp;
		</div>

		<form method="POST" action="/lockGame">
			<input type="hidden" name="game_id" id="game_id" value="{{.Game.ID}}">
			<input type="hidden" id="_csrf" name="_csrf" value="{{.Csrf}}" />

			<label for="unlock_key" class="formlabel">Unlock key:</label>
			<input type="text" autofocus="true" id="unlock_key" name="unlock_key"><br>

			<br>
			<div class="formlabel">&nbsp;</div>
			<input type="submit" value="Lock game">
		</form>

{{end}}