{{define "content"}}
		<div class="message">
			<h1>New Game</h1>
		</div>
		
		<form method="POST" action="/addGame">

			<label for="home_team" class="formlabel">Home team:</label>
			<input type="text" autofocus="true" id="home_team" name="home_team"><br>

			<label for="away_team" class="formlabel">Away team:</label>
			<input type="text" id="away_team" name="away_team"><br>

			<label for="game_date" class="formlabel">Game date:</label>
			<input type="text" id="game_date" name="game_date" size="10"> (yyyy-mm-dd)<br>

			<br>
			<div class="formlabel">&nbsp;</div>
			<input type="submit" value="Submit">
		</form>
{{end}}