<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Scoresheet</title>
<link href="/static/logo.svg" rel="icon" type="image/svg" />
<link rel="stylesheet" href="/static/scoresheet.css">
</head>

<body>
	<div class="container">
		<div>			
			<h1><img src="/static/logo.svg" class="h1image"/>Share game {{.GameID}}</h1>
		</div>
		<div>
			This game can be accessed at
			<br>
			<a href="{{.GameURL}}">
				{{.Encoded}}
			</a>
		</div>
		<img src="/qrcode?game={{.GameID}}">
	</div>
</body>
</html>
