{{define "content"}}
		<div class="message">
			<h1>Unlock Game {{.Game.ID}}</h1>
		</div>
		
		<div>
			To unlock this game for editing you need to supply the key phrase that
			was used to lock it.
			<br>
			&nbsp;
		</div>

		<form method="POST" action="/unlockGame">
			<input type="hidden" name="game_id" id="game_id" value="{{.Game.ID}}">

			<label for="unlock_key" class="formlabel">Unlock key:</label>
			<input type="text" autofocus="true" id="unlock_key" name="unlock_key"><br>

			<br>
			<div class="formlabel">&nbsp;</div>
			<input type="submit" value="Unlock game">
		</form>
{{end}}