<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Scoresheet</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="preload" as="font">
<link
  href="/static/kubernetes-engine-icon.png"
  rel="icon" 
  type="image/png" 
/>
<link rel="stylesheet" href="/static/scoresheet.css">
</head>

<body>
	<div class="container">
		<div class="message">
			<h1>Unlock Game {{.Game.ID}}</h1>
		</div>
		
		<div>
			To unlock this game for editing you need to supply the key phrase that
			was used to lock it.
			<br>
			&nbsp;
		</div>

		<form method="POST" action="/unlockGame">
			<input type="hidden" name="game_id" id="game_id" value="{{.Game.ID}}">

			<label for="unlock_key" class="formlabel">Unlock key:</label>
			<input type="text" autofocus="true" id="unlock_key" name="unlock_key"><br>

			<br>
			<div class="formlabel">&nbsp;</div>
			<input type="submit" value="Unlock game">
		</form>

	</div>
</body>
</html>
