/*
	base: rgb(12,12,12)
	fade to: rgb(193,218,220)
	
*/
body {
	font-family: Futura, Arial, sans-serif;
	font-display: fallback;	
	background: url('/static/simple/background-15.jpg');
	background-color: rgb(183, 206,217);
	background-size: cover;
	background-position: center;
	line-height: 1.6;	
 }

 .headingblock {
	margin-top: 0;
	display: inline-block;
	max-height: 6em;
	text-align: center;
	background-color: #c8d9e6;	
 }

 h1 {
	text-transform:uppercase;
 }

 .main-section {
	padding: 1em;
 }

 .footerblock {
	border-top: #2f4156 solid;
	margin-bottom: 1em;
 }

 .footertext {
	font-size: small;
	font-style: italic;
 }

 .eventrow {
	background-color: #1967d217;
	margin: 2px;
	border-radius: 8px;	
 }

.h1image {
	padding-top: 32px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	height: 24px;
	margin-right: 12px;
}

h4 {
	font-style: italic;
}

.scoreboard {
	font-size: xx-large;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.next {
    font-size: 15px;
	margin-top: 8px;
	margin-bottom: 8px;
}
.details {
	clear: both;
	height: 400px;
	line-height: 1.8;
}

.callout {
	font-size: 14px;
	color: #1967D2;
	font-weight: 600;
	padding: 16px 24px 16px 40px;
	background: url('/static/lightbulb_icon.svg') #E8F0FE ;
	background-position: 16px 16px;
	background-repeat: no-repeat;
	line-height: 1.6;
}

code {
	font-family: 'Roboto Mono', Courier, monospace;
	color: #A30038;
	background-color: #F8F8F8;
	border: 1px solid #DDD;
	border-radius: 2px;
	padding: 0 6px;
	font-weight: 500;
}
.formlabel {
	min-width: 20%;
	display: inline-block;
	text-align: right;
	padding-right: 1em;
}

.controlbar {
	display: flex;
	align-items: flex-start;
  	justify-content: space-between;
}

.leftlink {
	float: left;
}

input[type=button], input[type=submit], input[type=reset], .endbutton button {
	border-radius: 6px;
	margin-top: 4px;
	padding: 2px;
	border-color: #1967D2;
	background-color: #1967d217;
}

.endbutton button {
	float: right;
	margin-left: 4px;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
	border-color: #1967D2;
}

.table th {
	background-color: #1967d217;
}

table {
    text-align: center;
    width: 100%;
}

.error {
	font-weight: bold;
	color: red;
}
