/*
	background: rgb(183, 206,217)
	titles: rgb(63,126,145)
	borders: rgb(193,218,230)
*/
body {
	font-family: Futura, Arial, sans-serif;
	font-display: fallback;	
	background: url('/static/simple/background-2.jpg');
	background-color: rgb(183, 206,217);
	background-size: cover;
	background-position: center top;
	line-height: 1.6;	
 }

 .headingblock {
	margin-top: 0;
	display: inline-block;
	width: 100%;
	background-color: rgb(193,218,230);	
 }

 .titlelogo {
	display: inline;
	padding-left: 1em;
 }

 .titletext {
	display: inline;
	text-transform:uppercase;
	font-family: Futura, Arial, sans-serif;
	font-weight: bold;
	font-size: 16pt;
	color: rgb(63,126,145);
	padding-top: 24px;
	padding-left: 1em;
 }

 h1 {
	text-align: center;
	text-transform:uppercase;
	font-weight: bold;
}

h3 {
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14pt;
	color: rgb(63,126,145);
	border-bottom: solid 3px;
	padding-top: 4pt;
}


h4 {
	text-align: left;
	font-weight: bold;
	font-size: 14pt;
	color: rgb(63,126,145);
	padding-top: 8pt;
}


 .main-section {
	padding: 1rem;
 }

 .footerblock {
	border-top: #2f4156 solid;
	margin-bottom: 1rem;
 }

 .footertext {
	font-size: small;
	font-style: italic;
 }

.frontpanel {
	background-color: white;
	border-radius: 16px;
	padding: 1rem;
	height: 100%;
}

 .gamedate {
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
	color: rgb(63,126,145);
 }

 .eventrow {
	/* background-color: #1967d217; */
	background-color: rgba(193,218,230,0.5);
	margin: 2px;
	border-radius: 8px;	
 }

.h1image {
	padding-top: 32px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	height: 24px;
	margin-right: 12px;
}

.scoreboard {
	font-size: xx-large;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.next {
    font-size: 15px;
	margin-top: 8px;
	margin-bottom: 8px;
}
.details {
	clear: both;
	height: 400px;
	line-height: 1.8;
}

.callout {
	font-size: 14px;
	color: #1967D2;
	font-weight: 600;
	padding: 16px 24px 16px 40px;
	background: url('/static/lightbulb_icon.svg') #E8F0FE ;
	background-position: 16px 16px;
	background-repeat: no-repeat;
	line-height: 1.6;
}

code {
	font-family: 'Roboto Mono', Courier, monospace;
	color: #A30038;
	background-color: #F8F8F8;
	border: 1px solid #DDD;
	border-radius: 2px;
	padding: 0 6px;
	font-weight: 500;
}
.formlabel {
	min-width: 20%;
	display: inline-block;
	text-align: right;
	padding-right: 1em;
}

.controlbar {
	display: flex;
	align-items: flex-start;
  	justify-content: space-between;
	overflow: auto;
	/* clear: both; */
}

.endbutton button {
	float: right;
	margin-left: 4px;
}

.leftlink {
	float: left;
}

input[type=button], input[type=submit], input[type=reset], .endbutton button {
	border-radius: 6px;
	margin-top: 4px;
	padding: 0.5rem 1rem 0.5rem;
	color: rgb(63,126,145);
	/* border-color: #1967d217; */
	border: none;
	background-color: #1967d217;
}

.summary-table td {
    border: 2pt solid;
    border-collapse: collapse;
	border-color: rgb(193,218,230);
	background-color: rgba(255,255,255,0.5);
}

.summary-table th.hidden {
	visibility: hidden;
	border: none;
}

.summary-table th {
    border: 2pt solid;
	font-weight: normal;
    border-collapse: collapse;
	border-color: rgb(193,218,230);
	background-color: rgba(193,218,230,0.5);
}

table {
    text-align: center;
    width: 100%;
}

.error {
	font-weight: bold;
	color: red;
}
