:root {
	--main-bg-color: rgb(183, 206,217);
	--title-color: rgb(63,126,145);
	--panel-bg-color: rgb(221, 229, 233);
	--panel-edge-color: rgb(193,218,230);
	--action-text-color: rgb(47, 92, 104);
	--text-font: Futura, Arial, sans-serif;
}
/*
	background: rgb(183, 206,217)
	titles: rgb(63,126,145)
	borders: rgb(193,218,230)
*/
body {
	font-family: var(--text-font);
	font-display: fallback;	
	background: url('/static/simple/background-2.jpg');
	background-color: var(--main-bg-color);
	background-size: cover;
	background-position: center top;
	line-height: 1.6;	
 }

 .headingblock {
	margin-top: 0;
	display: flex;
	width: 100%;
	background-color: var(--panel-edge-color);
 }

 .titlelogo {
	display: inline-block;
	padding-left: 1em;
 }

 .titletext {
	display: inline-block;
	text-transform:uppercase;
	font-family: Futura, Arial, sans-serif;
	font-weight: bold;
	font-size: 16pt;
	color: var(--title-color);
	padding-top: 8px;
	padding-left: 1em;
 }

 h1 {
	text-align: center;
	text-transform:uppercase;
	font-weight: bold;
}

h3 {
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14pt;
	color: var(--action-text-color);
	/* color: black; */
	border-bottom: double 6px var(--title-color);
	padding-top: 4pt;
}


h4 {
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14pt;
	color: var(--title-color);
	padding-top: 8pt;
	border-bottom: solid 6px;
	border-color: white;
	margin-bottom: 12pt;
}


 .main-section {
	padding: 1rem;
 }

 .footerblock {
	border-top: #2f4156 solid;
	margin-bottom: 1rem;
 }

 .footertext {
	font-size: small;
	font-style: italic;
 }

.frontpanel {
	background-color: white;
	border-radius: 16px;
	padding: 1rem;
	height: 100%;
}

 .gamedate {
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
	color: rgb(63,126,145);
 }

 .eventrow {
	background-color: var(--panel-bg-color);
	margin: 2px;
	border-radius: 8px;	
 }

.h1image {
	padding-top: 32px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	height: 24px;
	margin-right: 12px;
}

.scoreboard {
	font-size: xx-large;
}

a {
	color: var(--action-text-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.next {
    font-size: 15px;
	margin-top: 8px;
	margin-bottom: 8px;
}
.details {
	clear: both;
	height: 400px;
	line-height: 1.8;
}

.callout {
	font-size: 14px;
	color: #1967D2;
	font-weight: 600;
	padding: 16px 24px 16px 40px;
	background: url('/static/lightbulb_icon.svg') #E8F0FE ;
	background-position: 16px 16px;
	background-repeat: no-repeat;
	line-height: 1.6;
}

code {
	font-family: 'Roboto Mono', Courier, monospace;
	color: #A30038;
	background-color: #F8F8F8;
	border: 1px solid #DDD;
	border-radius: 2px;
	padding: 0 6px;
	font-weight: 500;
}
.formlabel {
	min-width: 20%;
	display: inline-block;
	text-align: right;
	padding-right: 1em;
}

.controlbar {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
  	align-content: flex-start;
	overflow: auto;
	gap: 8px;
	width: 100%;
	/* clear: both; */
}

.startbutton {
	/* margin-right: 4px; */
	display: inline-block;
	flex-grow: 0;
}

.endbutton {
	align-self: flex-end;
	/* margin-left: 4px; */
	display: inline-block;
	flex-grow: 0;
}

.buttonspacer {
	flex-grow: 1;
}

.leftlink {
	float: left;
}

.endlink {
	float: right;
	text-align: right;
	margin-left: 1em;
}

input[type=button], input[type=submit], input[type=reset], .endbutton, .startbutton {
	border-radius: 6px;
	margin-top: 4px;
	padding: 4px 8px 4px;
	border-style: solid;
	border-color: var(--panel-bg-color);
	background-color: var(--panel-bg-color);
}

input[type=submit]:hover, .endbutton:hover, .startbutton:hover {
	border-color: var(--panel-edge-color);
	border-style: solid;
	text-decoration: underline;
}

.summary-table td {
    border: 2pt solid;
    border-collapse: collapse;
	border-color: rgb(193,218,230);
	background-color: rgba(255,255,255,0.5);
}

td.textvalue, th.textvalue {
	text-align: left;
	padding-left: 1em;
}

.hidden {
	visibility: hidden;
}

.summary-table th.hidden {
	visibility: hidden;
	border: none;
}

.summary-table th {
    border: 2pt solid;
	font-weight: normal;
    border-collapse: collapse;
	border-color: var(--panel-edge-color);
	background-color: var(--panel-bg-color);
}

table {
    text-align: center;
    width: 100%;
	margin-bottom: 1.5rem;
}

.error {
	font-weight: bold;
	color: red;
}

.warning {
	font-weight: bold;
	color: brown;
}

.concept {
	font-style: italic;
	font-weight: bold;
}

.maintext {
	padding-bottom: 1em;
}